<% layout('base') %>

<link rel="stylesheet" href="/css/phones.css">

<div class="row gap-3 mb-4">
    <% for(let p of phones) { %>
        <div class="col">
            <div class="card mb-5 mt-4 p-2" style="width: 18rem;">
                <img src="<%= p.images[0].display %>" class="card-img-top" alt="phone">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h5 class="card-title"><%= p.name %></h5>
                <a href="/phones/<%= p._id %>" class="mt-3 text-center btn btn-dark">View</a>
            </div>
        </div>
    </div>
    <% } %>
</div>
<a href="/phones/new" class="btn btn-dark">Add a new phone</a>