<% layout('base') %>

<link rel="stylesheet" href="/css/index.css">

<div class="d-flex">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <h1 class="text-center mb-4">Welcome to central hub of smart phones!</h1>
        <a href="/phones" class="btn btn-secondary btn-outline">View all phones</a>
    </div>
    <div>
        <img class="img-fluid" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-model-unselect-gallery-1-202207?wid=1100&hei=600&fmt=p-jpg&qlt=80&.v=1654893619853" alt="phones">
    </div>    
</div>