<% layout('base') %>
<div class="d-flex">
    <div class="w-100 me-10 container-fluid">
        <h1>Welcome to central hub of smart phones!</h1>
        <a href="/phones" class="btn btn-secondary btn-outline d-block">View all phones</a>
    </div>
    <div>
        <img class="img-fluid" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-model-unselect-gallery-1-202207?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1654893619853" alt="phones">
    </div>    
</div>