<% layout('base') %>
<div class="row g-2">
    <div class="col-4">
        <h1>Welcome to central hub of smart phones!</h1>
        <a href="/phones" class="btn btn-secondary btn-outline">View all phones</a>
    </div>
    <div class="col-8">
        <img class="img-fluid" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-model-unselect-gallery-1-202207?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1654893619853" alt="phones">
    </div>    
</div>