<% layout('base') %>

<h1>Register</h1>

<form action="/register" method="post" class="needs-validation row g-2" novalidate>
    <div class="row g-2 justify-content-center">
        <div class="col-8">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" id="username" required class="form-control">
        </div>
    </div>

    <div class="row g-2 justify-content-center">
        <div class="col-8">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" name="email" id="email" required class="form-control">
        </div>
    </div>
    
    <div class="row g-2 justify-content-center">
        <div class="col-8">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" required class="form-control">
        </div>
    </div>

    <div class="row g-2 justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-success">Register</button>
        </div>
    </div>
</form>